In [42]:
# 아나콘다 프롬프트에서 pymysql 설치 
# pip install pymysql 
import pymysql
#os 에서 할당 => 접속이 안됌
con = pymysql.connect(host="192.168.0.106", port=3306, user='root',
                     passwd='1234acorn', db='sungjuk_test', charset='utf8', autocommit=True)
try:
    with con.cursor() as cur:
        cur.execute("select * from student") # 명령실행
        rows = cur.fetchall() # record set 생성, fetchone, fetchmany, fetchall
#         rows = cur.fetchmany()
        desc = cur.description
        for row in rows: # 한 행식 => tuplae 형식으로 데이터 리턴
            print(f'{row[0]},{row[1]},{row[2]},{row[3]}')
finally:
    con.close() # 테이블의 필드 이름
print(i[0] for i in cur.description)

2,김만덕,100,99
3,고려인,100,99
4,종로구,100,80
9,typhoon,100,100
10,typhoon,100,100
11,typhoon,100,100
12,typhoon,100,100
13,에이콘,50,50
14,에이콘,50,50
15,에이콘,50,50
16,에이콘,50,50
17,에이콘,50,50
18,에이콘,50,50
19,전공사,11,22
<generator object <genexpr> at 0x000001C3907D8970>

In [8]:
import pymysql
#os 에서 할당 => 접속이 안됌
con = pymysql.connect(host="192.168.0.106", port=3306, user='root',
                     passwd='1234acorn', db='sungjuk_test', charset='utf8', autocommit=True)
person=("typhoon", 100, 100, 100, 'CH00000001')
try:
    with con.cursor() as cur:
        cur.execute("""INSERT INTO student(name, kor, mat, eng, schoolcode)
                    values(%s, %s, %s, %s, %s)""", # 명령실행
        (person[0], person[1], person[2], person[3], person[4]))
        con.commit()
        print('새로운 학생이 등록되었습니다')
finally:
    con.close() # 테이블의 필드 이름

새로운 학생이 등록되었습니다

In [17]:
#stored procedure
import pymysql
#os 에서 할당 => 접속이 안됌
con = pymysql.connect(host="192.168.0.106", port=3306, user='root',
                     passwd='1234acorn', db='sungjuk_test', charset='utf8', autocommit=True)
person=("typhoon", 100, 100, 100, 'CH00000001')
try:
    with con.cursor() as cur:
        cur.callproc('student_select')
        if(cur.rowcount):
            print(cur.fetchall())
finally:
    con.close() # 테이블의 필드 이름
    cur.close()

((2, '김만덕', 100, 99, 99, 298, 99.33, 'A', 'CH00000001'), (3, '고려인', 100, 99, 99, 298, 99.33, 'A', 'CH00000001'), (4, '종로구', 100, 80, 70, 250, 83.33, 'B', 'IC00000001'), (5, '전공사', 11, 22, 33, 66, 22.0, 'F', 'SE00000001'), (9, 'typhoon', 100, 100, 100, 300, 100.0, 'A', 'CH00000001'), (10, 'typhoon', 100, 100, 100, 300, 100.0, 'A', 'CH00000001'), (11, 'typhoon', 100, 100, 100, 300, 100.0, 'A', 'CH00000001'), (12, 'typhoon', 100, 100, 100, 300, 100.0, 'A', 'CH00000001'))

In [5]:
# student_insert에 데이터를 입력하시오
import pymysql
#os 에서 할당 => 접속이 안됌
con = pymysql.connect(host="192.168.0.106", port=3306, user='root',
                     passwd='1234acorn', db='sungjuk_test', charset='utf8',
                      cursorclass=pymysql.cursors.DictCursor, autocommit=True) 
                        # cursorclass=pymysql.cursors.DictCursor # 딕셔너리로 작동하게
person=("에이콘", 50, 50, 50, 'CH00000001', 0) # result = 0
try:
    with con.cursor() as cur:
#         cur.callproc("student_insert(%s, %s, %s, %s, %s)", (person[0], person[1], person[2], person[3], person[4]))
#         cur.callproc("student_insert('에이콘', 50, 50, 50, 'CH00000001')")
        cur.callproc('student_insert', person)
        cur.execute('select @_student_insert_5') # @ DB 사용자 정의 변수 # 5번째 데이터를 받아와라
        result = cur.fetchone()
        print(result['@_student_insert_5'])# 딕셔너리 형태로 데이터 확인
        
        print('새로운 학생이 등록되었습니다')
finally:
    con.close() # 테이블의 필드 이름
    cur.close()

0
새로운 학생이 등록되었습니다

In [2]:
# student_update를 호출해서 에이콘의 점수를 100, 90, 80점으로 수정
import pymysql
#os 에서 할당 => 접속이 안됌
con = pymysql.connect(host="192.168.0.106", port=3306, user='root',
                     passwd='1234acorn', db='sungjuk_test', charset='utf8',
                      cursorclass=pymysql.cursors.DictCursor, autocommit=True)
person=(13, "에이콘", 10, 10, 10, 0) # result = 0
try:
    with con.cursor() as cur:
        cur.callproc('student_update', person)
        cur.execute('select @_student_update_5') # @ DB 사용자 정의 변수 # 5번째 데이터를 받아와라
        result = cur.fetchone()
        print(result['@_student_update_5'])# 딕셔너리 형태로 데이터 확인
        if result['@_student_update_5'] == 2 :
            print('수정할 이름이 없습니다')
        elif result['@_student_update_5'] == -1 :
            print('에러가 발생하였습니다')
        elif result['@_student_update_5'] == 0 :
            print('성공')
        else:
            print('알수없음')
finally:
    con.close() # 테이블의 필드 이름
    cur.close()

0
성공

In [9]:
#에이콘 삭제
import pymysql
#os 에서 할당 => 접속이 안됌
con = pymysql.connect(host="192.168.0.106", port=3306, user='root',
                     passwd='1234acorn', db='sungjuk_test', charset='utf8',
                      cursorclass=pymysql.cursors.DictCursor, autocommit=True)
person=("typhoon", 0) # result = 0
try:
    with con.cursor() as cur:
        cur.callproc('student_delete', person)
        cur.execute('select @_student_delete_1') # @ DB 사용자 정의 변수 # 1번째 데이터를 받아와라
        result = cur.fetchone()
        print(result['@_student_delete_1'])# 딕셔너리 형태로 데이터 확인
        if result['@_student_delete_1'] == 2 :
            print('삭제할 이름이 없습니다')
        elif result['@_student_delete_1'] == 0 :
            print('성공')
        else:
            print('알수없음')
finally:
    con.close() # 테이블의 필드 이름
    cur.close()

0
삭제 완료

In [39]:
# 오후 코드
import requests
import pandas as pd
from bs4 import BeautifulSoup
class HTMLTablePaser:
    def parse_url(self, url):
        response = requests.get(url)
        soup = BeautifulSoup(response.text, 'lxml')
        return [(table('id'), self.parse_html_table(table)) for table in soup.find_all('table')]
    
    def parse_html_table(self, table):
        n_columns = 0
        n_rows = 0
        column_names = []
        for row in table.find_all('tr'): # 행
            td_tags = row.find_all('td') # 열
            if len(td_tags) > 0 :
                n_rows += 1 #행누적
                if n_columns == 0: # 처음인 경우
                    # Set the number of columns for our table
                    n_columns = len(td_tags)
            th_tags = row.find_all('th')# 헤더 열 이름
            if len(th_tags) > 0 and len(column_names) == 0:
                for th in th_tags:
                    column_names.append(th.get_text())
                    
        if len(column_names) > 0 and len(column_names) != n_columns:
            raise Exception("컬럼 타이틀이 컬럼과 숫자가 맞지않음")
                
        columns = column_names if len(column_names) > 0 else range(0, n_columns)
        # pandas 데이터프레임
        df = pd.DataFrame(columns=columns, index=range(0, n_rows))#공백
        row_marker = 0 # 행을 확인하는것
        for row in table.find_all('tr'):
            column_marker = 0 # 열을 확인하는 변수
            columns = row.find_all('td')
            for column in columns:
                df.iloc[row_marker, column_marker] = column.get_text()
                #태그, 속성 ,텍스트
                column_marker += 1
                if len(columns) > 0:
                    row_marker += 1
            for col in df: #형변환
                try: #문자 -> 숫자변경
                    df[col] = df[col].astype(float)
                except ValueError:
                    pass
            return df

In [42]:
import pprint
import requests
url="https://www.w3schools.com/bootstrap4/bootstrap_tables.asp"
hp=HTMLTableParser()
# table=hp.parse_url(url)[0][1]
table=hp.parse_url(url)
print(table)

[([],   Firstname Lastname             Email
0      John      Doe  john@example.com
1      Mary      Moe  mary@example.com
2      July   Dooley  july@example.com), ([],   Firstname Lastname             Email
0      John      Doe  john@example.com
1      Mary      Moe  mary@example.com
2      July   Dooley  july@example.com), ([],   Firstname Lastname             Email
0      John      Doe  john@example.com
1      Mary      Moe  mary@example.com
2      July   Dooley  july@example.com), ([],   Firstname Lastname             Email
0      John      Doe  john@example.com
1      Mary      Moe  mary@example.com
2      July   Dooley  july@example.com), ([],   Firstname Lastname             Email
0      John      Doe  john@example.com
1      Mary      Moe  mary@example.com
2      July   Dooley  july@example.com), ([],   Firstname Lastname             Email
0      John      Doe  john@example.com
1      Mary      Moe  mary@example.com
2      July   Dooley  july@example.com), ([],   Firstname Lastname             Email
0      John      Doe  john@example.com
1      Mary      Moe  mary@example.com
2      July   Dooley  july@example.com), ([],   Firstname Lastname             Email
0      John      Doe  john@example.com
1      Mary      Moe  mary@example.com
2      July   Dooley  july@example.com), ([],    Firstname    Lastname              Email
0    Default  Defaultson   def@somemail.com
1    Primary         Joe    joe@example.com
2    Success         Doe   john@example.com
3     Danger         Moe   mary@example.com
4       Info      Dooley   july@example.com
5    Warning        Refs     bo@example.com
6     Active   Activeson    act@example.com
7  Secondary   Secondson    sec@example.com
8      Light       Angie  angie@example.com
9       Dark          Bo     bo@example.com), ([],               Class                                        Description
0    .table-primary                Blue: Indicates an important action
1    .table-success   Green: Indicates a successful or positive action
2     .table-danger  Red: Indicates a dangerous or potentially nega...
3       .table-info  Light blue: Indicates a neutral informative ch...
4    .table-warning  Orange: Indicates a warning that might need at...
5     .table-active  Grey: Applies the hover color to the table row...
6  .table-secondary   Grey: Indicates a slightly less important action
7      .table-light           Light grey table or table row background
8       .table-dark            Dark grey table or table row background), ([],   Firstname Lastname             Email
0      John      Doe  john@example.com
1      Mary      Moe  mary@example.com
2      July   Dooley  july@example.com), ([],   Firstname Lastname             Email
0      John      Doe  john@example.com
1      Mary      Moe  mary@example.com
2      July   Dooley  july@example.com), ([],   Firstname Lastname             Email
0      John      Doe  john@example.com
1      Mary      Moe  mary@example.com
2      July   Dooley  july@example.com), ([],                   Class Screen width
0  .table-responsive-sm      < 576px
1  .table-responsive-md      < 768px
2  .table-responsive-lg      < 992px
3  .table-responsive-xl     < 1200px)]