In [42]:
# pip install pymysql
import pymysql
#os 에서 할당 => 접속이 안됌
con = pymysql.connect(host="192.168.0.106", port=3306, user='root',
                     passwd='1234acorn', db='sungjuk_test', charset='utf8', autocommit=True)
try:
    with con.cursor() as cur:
        cur.execute("select * from student") # 명령실행
        rows = cur.fetchall() # record set 생성, fetchone, fetchmany, fetchall
#         rows = cur.fetchmany()
        desc = cur.description
        for row in rows: # 한 행식 => tuplae 형식으로 데이터 리턴
            print(f'{row[0]},{row[1]},{row[2]},{row[3]}')
finally:
    con.close() # 테이블의 필드 이름
print(i[0] for i in cur.description)

2,김만덕,100,99
3,고려인,100,99
4,종로구,100,80
9,typhoon,100,100
10,typhoon,100,100
11,typhoon,100,100
12,typhoon,100,100
13,에이콘,50,50
14,에이콘,50,50
15,에이콘,50,50
16,에이콘,50,50
17,에이콘,50,50
18,에이콘,50,50
19,전공사,11,22
<generator object <genexpr> at 0x000001C3907D8970>

In [8]:
# pip install pymysql
import pymysql
#os 에서 할당 => 접속이 안됌
con = pymysql.connect(host="192.168.0.106", port=3306, user='root',
                     passwd='1234acorn', db='sungjuk_test', charset='utf8', autocommit=True)
person=("typhoon", 100, 100, 100, 'CH00000001')
try:
    with con.cursor() as cur:
        cur.execute("""INSERT INTO student(name, kor, mat, eng, schoolcode)
                    values(%s, %s, %s, %s, %s)""", # 명령실행
        (person[0], person[1], person[2], person[3], person[4]))
        con.commit()
        print('새로운 학생이 등록되었습니다')
finally:
    con.close() # 테이블의 필드 이름

새로운 학생이 등록되었습니다

In [17]:
#stored procedure
# pip install pymysql
import pymysql
#os 에서 할당 => 접속이 안됌
con = pymysql.connect(host="192.168.0.106", port=3306, user='root',
                     passwd='1234acorn', db='sungjuk_test', charset='utf8', autocommit=True)
person=("typhoon", 100, 100, 100, 'CH00000001')
try:
    with con.cursor() as cur:
        cur.callproc('student_select')
        if(cur.rowcount):
            print(cur.fetchall())
finally:
    con.close() # 테이블의 필드 이름
    cur.close()

((2, '김만덕', 100, 99, 99, 298, 99.33, 'A', 'CH00000001'), (3, '고려인', 100, 99, 99, 298, 99.33, 'A', 'CH00000001'), (4, '종로구', 100, 80, 70, 250, 83.33, 'B', 'IC00000001'), (5, '전공사', 11, 22, 33, 66, 22.0, 'F', 'SE00000001'), (9, 'typhoon', 100, 100, 100, 300, 100.0, 'A', 'CH00000001'), (10, 'typhoon', 100, 100, 100, 300, 100.0, 'A', 'CH00000001'), (11, 'typhoon', 100, 100, 100, 300, 100.0, 'A', 'CH00000001'), (12, 'typhoon', 100, 100, 100, 300, 100.0, 'A', 'CH00000001'))

In [5]:
# student_insert에 데이터를 입력하시오
import pymysql
#os 에서 할당 => 접속이 안됌
con = pymysql.connect(host="192.168.0.106", port=3306, user='root',
                     passwd='1234acorn', db='sungjuk_test', charset='utf8',
                      cursorclass=pymysql.cursors.DictCursor, autocommit=True)
person=("에이콘", 50, 50, 50, 'CH00000001', 0) # result = 0
try:
    with con.cursor() as cur:
#         cur.callproc("student_insert(%s, %s, %s, %s, %s)", (person[0], person[1], person[2], person[3], person[4]))
#         cur.callproc("student_insert('에이콘', 50, 50, 50, 'CH00000001')")
        cur.callproc('student_insert', person)
        cur.execute('select @_student_insert_5') # @ DB 사용자 정의 변수 # 5번째 데이터를 받아와라
        result = cur.fetchone()
        print(result['@_student_insert_5'])# 딕셔너리 형대로 데이터 확인
        
        print('새로운 학생이 등록되었습니다')
finally:
    con.close() # 테이블의 필드 이름
    cur.close()

0
새로운 학생이 등록되었습니다

In [2]:
# student_update를 호출해서 에이콘의 점수를 100, 90, 80점으로 수정
import pymysql
#os 에서 할당 => 접속이 안됌
con = pymysql.connect(host="192.168.0.106", port=3306, user='root',
                     passwd='1234acorn', db='sungjuk_test', charset='utf8',
                      cursorclass=pymysql.cursors.DictCursor, autocommit=True)
person=(13, "에이콘", 10, 10, 10, 0) # result = 0
try:
    with con.cursor() as cur:
        cur.callproc('student_update', person)
        cur.execute('select @_student_update_5') # @ DB 사용자 정의 변수 # 5번째 데이터를 받아와라
        result = cur.fetchone()
        print(result['@_student_update_5'])# 딕셔너리 형대로 데이터 확인
        if result['@_student_update_5'] == 2 :
            print('수정할 이름이 없습니다')
        elif result['@_student_update_5'] == -1 :
            print('에러가 발생하였습니다')
        elif result['@_student_update_5'] == 0 :
            print('성공')
        else:
            print('알수없음')
finally:
    con.close() # 테이블의 필드 이름
    cur.close()

0
성공

In [9]:
#에이콘 삭제
import pymysql
#os 에서 할당 => 접속이 안됌
con = pymysql.connect(host="192.168.0.106", port=3306, user='root',
                     passwd='1234acorn', db='sungjuk_test', charset='utf8',
                      cursorclass=pymysql.cursors.DictCursor, autocommit=True)
person=("typhoon", 0) # result = 0
try:
    with con.cursor() as cur:
        cur.callproc('student_delete', person)
        cur.execute('select @_student_delete_1') # @ DB 사용자 정의 변수 # 1번째 데이터를 받아와라
        result = cur.fetchone()
        print(result['@_student_delete_1'])# 딕셔너리 형대로 데이터 확인
        if result['@_student_delete_1'] == 2 :
            print('삭제할 이름이 없습니다')
        elif result['@_student_delete_1'] == 0 :
            print('성공')
        else:
            print('알수없음')
finally:
    con.close() # 테이블의 필드 이름
    cur.close()

0
삭제 완료